In [12]:
import pandas as pd

student_list = [{'이름' : '김현우', '단과대' : '소융대', '학번' : 23},
                {'이름' : '박민서', '단과대' : '소융대', '학번' : 21},
                {'이름' : '박민지', '단과대' : '소융대', '학번' : 22},
                {'이름' : '이준희', '단과대' : '소융대', '학번' : 20},
                {'이름' : '전준호', '단과대' : '생과대', '학번' : 21},
                {'이름' : '최윤제', '단과대' : '소융대', '학번' : None},
               {'이름' : '박민서', '단과대' : '자연대', '학번' : 22}]


#각 문제별로 지시하는 사항은 항상 df에 반영(저장)되어야 합니다.


#1번. student_list와 columns를 사용해 DataFrame을 만드세요.
# columns = ['이름', '단과대', '학번']
df = pd.DataFrame(student_list, columns=['이름', '단과대', '학번'])

#2번. 한 명의 이름이 두 번 기입되었습니다. 중복된 이름 중 처음으로 나오는 값을 지우세요.
df = df.drop_duplicates(['이름'], keep='last')
print(df)

#3번. 소융대 학생 중 한 명의 학번이 입력되지 않았다. 이 Nan값을 찾아 소융대에서 가장 높은 (숫자가 작은) 학번으로 바꾸세요.
# 단, filla와 groupby를 사용해야 함
x = df.groupby('단과대').get_group('소융대').apply(min)
df = df.fillna(x['학번'])


#4번. 모두 20살에 입학했다고 가정했을 때, 학번으로 나이를 구하는 함수를 작성하세요.
f = lambda x: 20 + (23 - x)


#5번. 4번에서 만든 함수를 이용해 각 학생의 나이를 구하고 '나이' 열을 추가해 저장하세요.
# 단, apply를 사용해야 함
age = df["학번"].apply(f)
df['나이'] = age

    이름  단과대    학번
0  김현우  소융대  23.0
2  박민지  소융대  22.0
3  이준희  소융대  20.0
4  전준호  생과대  21.0
5  최윤제  소융대   NaN
6  박민서  자연대  22.0
    이름  단과대    학번    나이
0  김현우  소융대  23.0  20.0
2  박민지  소융대  22.0  21.0
3  이준희  소융대  20.0  23.0
4  전준호  생과대  21.0  22.0
5  최윤제  소융대  20.0  23.0
6  박민서  자연대  22.0  21.0